
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

            <a href="ciaadcya.html" class="govuk-back-link">Back</a>

            <article>

                <h1 class="govuk-heading-xl">Bereavement Support Payment</h1>
            
             
            
               
            
              <strong class="app-c-tag app-c-tag--eligible">
            
              Potentially eligible
            
            </strong>
            
            <BR>
              <BR>
             
            
             
            
              <p>The caller could be eligible because they’re the spouse or civil partner of the person who died.</p>
            
              <p>To claim, they must have been under State Pension age when their partner died.</p>
            
             
            
              <h2 class="govuk-heading-m">What they could get</h2>
            
              <p>They could get:
            
                <ul class="govuk-list--bullet govuk-list">
            
                  <li>a £2500 lump sum payment</li>
            
                  <li>up to 18 monthly payments of £100</li>
            
                </ul>
            
              <p></p>
            
             
            
              <p>The payments could be higher if they have dependent children.</p>
            
              <p>The money is tax free and paid directly into their bank account.</p>
            
              <p>Bereavement Support Payment will not affect any other benefits for a year after the first payment.</p>
            
             
            
              <div class="govuk-warning-text">
            
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            
              <strong class="govuk-warning-text__text">
            
                <span class="govuk-warning-text__assistive">Warning</span>
            
                You will need to do a security check on the claimant
            
              </strong>
            
            </div>

            <form class="casa-journey-form" action="#" method="post" novalidate="" autocomplete="off">
            
              <input name="_csrf" type="hidden" value="jtekimu7-wGLa3hG714ILYKxRwSXyTBDgSDA">

                  <input name="bspJourney" type="hidden" value="">
            
             
            
                  <footer>
            
 
                        <div class="govuk-form-group">
                            <a href="spa.html" role="button" draggable="false" class="govuk-button govuk-button">
                                Continue
                            </a>
                        </button>

                   <div>
            
                      <p> <a href="fepstart.html" class="govuk-body govuk-!-font-size-19">Skip Bereavement Support Payment</a></p>
            
                      </div>
                    </div>

                   
            
                  </footer>
         
            </form>
             </article>


    </div>
</div>

{% endblock %}
