
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

            <a href="bspstart.html" class="govuk-back-link">Back</a>

            <article>

                <h1 class="govuk-heading-l">Funeral Expenses Payment</h1>
            
             
            
               
            
             
            
            <strong class="app-c-tag app-c-tag--eligible">
            
              Potentially eligible
            
            </strong>
            
             
            
             
            
            <p>The caller is potentially eligible if they:
            
              <ul class="govuk-list--bullet govuk-list">
            
                <li>get certain benefits or tax credits</li>
            
                <li>are arranging the funeral and it's in the UK, European Economic Area or Switzerland</li>
            
                <li>were a spouse or partner of the person who died</li>
            
              </ul>
            
            <details class="govuk-details" role="group">
            
              <summary tabindex="0" class="govuk-details__summary" role="button" aria-expanded="false" aria-controls="details-content-9324a2d2-7db8-4118-b424-c4bc4b2245d2">
            
                <span class="govuk-details__summary-text">
            
                  Which countries are in the EEA?
            
                </span>
            
              </summary>
            
              <div class="govuk-details__text" id="details-content-9324a2d2-7db8-4118-b424-c4bc4b2245d2" aria-hidden="true" style="display: none;">
            
                Austria, Belgium, Bulgaria, Croatia, Republic of Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden and the UK.
            
              </div>
            
            </details>
            
             
            
            <p></p>
            
             
            
            <h2 class="govuk-heading-m">What they could get</h2>
            
            <p>They may get help to pay for:
            
              <ul class="govuk-list--bullet govuk-list">
            
                <li>burial or cremation fees</li>
            
                <li>death certificates and other documents</li>
            
              </ul>
            
            <p></p>
            
             
            
            <p>They could get up to £700 to pay for other funeral costs such as the coffin, flowers and funeral director’s fees.</p>
            
            <p>There’s no fixed amount that they can get. It’s based on individual circumstances. It will not cover the full cost of the funeral.</p>
            
             
            
             
            
               
            
             
            
            <form class="casa-journey-form" action="#" method="post" novalidate="" autocomplete="off">
            
              <input name="_csrf" type="hidden" value="JZmC3vaB-xoIDzjfORYkhDXV2cb2tzq-KM30">
            
             
            
              
            
             
            
             
            
              
            
                  <input name="fepJourney" type="hidden" value="">
            
             
            
                  <footer>
            
 
                      <div class="govuk-form-group">
                          <a href="#" role="button" draggable="false" class="govuk-button govuk-button">
                              Continue
                          </a>
                      </button>

                 <div>
          
                    <p> <a href="infosent.html" class="govuk-body govuk-!-font-size-19">Skip Funeral Expenses Payment</a></p>

                    </div>




                  </div>

                 
          
                </footer>
            
               
            
             
            
             
            
            </form>
            
             
            
             
            
              </article>


    </div>
</div>

{% endblock %}
