
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

            <a href="bspstart.html" class="govuk-back-link">Back</a>

            <h1 class="govuk-heading-xl">Check claimant's State Pension age</h1>

            <form class="casa-journey-form" action="#" method="post" novalidate="" autocomplete="off">

                <input name="_csrf" type="hidden" value="BaiWK8Qo-hkic6leMSAxev8ENTSqTJEDAdBQ">
              
                  <div id="bspClaimantDateOfBirthGroup">
              
               
              <div class="govuk-form-group">
              
              <fieldset class="govuk-fieldset" role="group" aria-describedby="f-bspClaimantDOB-hint">
              
               
              
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              
               
              
                  Claimant’s date of birth
              
               
              
                </legend>
              
               
              
               
              
                <span class="govuk-hint" id="f-bspClaimantDOB-hint">
              
                  For example, 31 3 1980
              
                </span>
              
               
              
               
              
                <div class="govuk-date-input" id="f-bspClaimantDOB">
              
                 
              
                  <div class="govuk-date-input__item">
              
                    <div class="govuk-form-group">
              
                      <label class="govuk-label govuk-date-input__label" for="f-bspClaimantDOB[dd]">
              
                        Day
              
                      </label>
              
                   
              
                    
              
                      <input name="bspClaimantDOB[dd]" class="govuk-input govuk-date-input__input govuk-input--width-2 &#10;        &#10;      " id="f-bspClaimantDOB[dd]" type="number" pattern="[0-9]*">
              
                    </div>
              
                  </div>

                  <div class="govuk-date-input__item">
              
                    <div class="govuk-form-group">
              
                      <label class="govuk-label govuk-date-input__label" for="f-bspClaimantDOB[mm]">
              
                        Month
              
                      </label>
              
                      <input name="bspClaimantDOB[mm]" class="govuk-input govuk-date-input__input govuk-input--width-2 &#10;        &#10;      " id="f-bspClaimantDOB[mm]" type="number" pattern="[0-9]*">
              
                    </div>
              
                  </div>
              
              
                  <div class="govuk-date-input__item">
              
                    <div class="govuk-form-group">
              
                      <label class="govuk-label govuk-date-input__label" for="f-bspClaimantDOB[yyyy]">
              
                        Year
              
                      </label>
              
                      <input name="bspClaimantDOB[yyyy]" class="govuk-input govuk-date-input__input govuk-input--width-4 &#10;        &#10;      " id="f-bspClaimantDOB[yyyy]" type="number" pattern="[0-9]*">
              
                    </div>
              
                  </div>
              
               
              
                </div>
              
                </fieldset>
              
              </div>
              

              <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">
                
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                
                  <h1 class="govuk-fieldset__heading">
                    Claimant's sex
                  </h1>
                
                </legend>
                
              
                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                  
                  
                  
                  
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="claimant-sex-1" name="bsp[sex]" type="radio" value="male" aria-controls="conditional-claimant-sex-1" aria-expanded="false">
                    <label class="govuk-label govuk-radios__label" for="claimant-sex-1">
                      Male
                    </label>
                  </div>
                  
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-claimant-sex-1">
                      
                    </div>
                  
                  
                  
                  
                  
                  
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="claimant-sex-2" name="bsp[sex]" type="radio" value="female">
                    <label class="govuk-label govuk-radios__label" for="claimant-sex-2">
                      Female
                    </label>
                  </div>
                  
                  
                  
                </div>
                </fieldset>
              
              
              </div>

               
              <div class="govuk-form-group">
                  <a href="location.html" role="button" draggable="false" class="govuk-button govuk-button">
                      Continue
                  </a>              
             
<div>
    <p> <a href="fepstart.html" class="govuk-body govuk-!-font-size-19">Skip BSP - caller does not want to apply</a></p>

              </div>          


    </div>
</div>

{% endblock %}
