
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
  
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
  
        <h2 class="govuk-panel__title">
  
          Information sent
  
        </h2>
  
      </div>
  
      <p>We have the information we need to update our benefit records.</p>
  
   
  
      <h2 class="govuk-heading-m">Next steps</h2>
  
      <p>You should register the death if you haven’t already.</p>
  
      <p>You can check if you can get any financial help by:</p>
  
        <ul class="govuk-list govuk-list--bullet">
  
          <li>visiting your local jobcentre for advice on what benefits you could be entitled to</li>
  
          <li>using an independent benefits calculator at www.gov.uk/benefits-calculators</li>
  
          <li>contacting your local council to see if you can get help to pay Council Tax</li>
  
        </ul>
  
      <p>Citizens Advice can also give you support and guidance.</p>
  
   
  
     
  
      <h2 class="govuk-heading-m">Help with funeral cost</h2>
  
      <p>If you need help to pay for a funeral you’re arranging, you may be eligible for a Funeral Payment. You can apply now over the phone. </p>

        <p>You can also download an application form from <b>www.nidirect.gov.uk</b> or get a copy from your local Jobs and Benefit Office. </p>
  

<br>
   
  
      <h2 class="govuk-heading-m">Emotional support</h2>
  
      <p>You can contact Cruse Bereavement Care, a voluntary organisation, for emotional help and support during a bereavement.</p>
  
      <p><span class="govuk-!-font-weight-bold">Telephone:</span> 0808 808 1677</p>
  
      <p><span class="govuk-!-font-weight-bold">Email:</span> helpline@cruse.org.uk</p>
  
      <p> <a href="startpage.html" class="govuk-body govuk-!-font-size-19">Back to start</a></p>
  
    </div>
  
  </div>

{% endblock %}
