
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">      


            <div class="govuk-grid-column-two-thirds">
      
                <a href="ciaadcya.html" class="govuk-back-link">Back</a>

                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
                  Bereavement Support Payment
                </h1>
                <strong class="app-c-tag app-c-tag--noteligible">
                    Not eligible
                </strong>
                <br>
                <br>
                <p>
                  Only the spouse or civil partner of the person who died can claim Bereavement Support Payment.
                </p>
          
                <form method="post">
                  
            
              
            
          
                    <a href="fepstart.html" role="button" draggable="false" class="govuk-button govuk-button">
                        Continue
                    </a>
          
                </form>
              </div>


    </div>
</div>

{% endblock %}
