
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div style="width:60%; float: left;">
      <h1 class="govuk-heading-m">
        Lionel Martin
        <span style="font-weight: 200; padding-left: 1%; font-size: 19px; color: grey">SG 65 89 76 C</span>
         <BR>     
        <span style="font-weight: 200; padding-top: 2%; font-size: 19px; float: left; color: black">
            Caller: Maria Bamford <span style="color: black">- 01789 842 424</span> 
        </span>
      </h1>
    </div>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p></p><hr class="govuk-section-break govuk-section-break--visible"><p></p>
        </div>
       </div>
    
    
    <div class="govuk-grid-column-two-thirds">
      

          
            <a href="callerdetails.html" class="govuk-back-link">Back</a>
        


            <form class="casa-journey-form" action="#" method="post" novalidate="" autocomplete="off">

              <input name="_csrf" type="hidden" value="Gj4eS4v1-o4bZeVdWdwZcFY5cMfVH7LgZt9A">
            
             
            
              
            
             
            
             
            
              
            
                
            
              
            
                
            
              
            
             
            
             
            
                
            
              
            
             
            
              <h1 class="govuk-heading-l">Bank account details</h1>
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
            <div class="govuk-form-group">
            
              <label class="govuk-label govuk-!-font-weight-bold" for="f-dapAccountHoldersFullName">
            
                Account holder's full name
            
              </label>
            
             
            
             
            
              <input name="dapAccountHoldersFullName" class="govuk-input govuk-!-width-two-thirds" id="f-dapAccountHoldersFullName" type="text">
            
            </div>
            
             
            
             
            
             
            
             
            
                
            
              
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
            <div class="govuk-form-group">
            
              <label class="govuk-label govuk-!-font-weight-bold" for="f-dapBankName">
            
                Bank name
            
              </label>
            
             
            
             
            
              <input name="dapBankName" class="govuk-input govuk-!-width-two-thirds" id="f-dapBankName" type="text">
            
            </div>
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
            <div class="govuk-form-group">
            
              <label class="govuk-label govuk-!-font-weight-bold" for="f-dapSortCode">
            
                Sort code
            
              </label>
            
             
            
             
            
              <input name="dapSortCode" class="govuk-input govuk-!-width-one-third" id="f-dapSortCode" type="text">
            
            </div>
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
            <div class="govuk-form-group">
            
              <label class="govuk-label govuk-!-font-weight-bold" for="f-dapAccountNumber">
            
                Account number
            
              </label>
            
             
            
             
            
              <input name="dapAccountNumber" class="govuk-input govuk-!-width-two-thirds" id="f-dapAccountNumber" type="text">
            
            </div>
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
                <footer class="casa-form-control-block govuk-body">
              
            
                </footer>
            
             
            
            </form>

          <div class="govuk-form-group">
              <a href="ciaadcya.html" role="button" draggable="false" class="govuk-button govuk-button">
                  Continue
              </a>
          </button>
          </div>
          
                </form>
              </div>
            </div>
          
          

    </div>
</div>

{% endblock %}
