
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">              
    <div class="govuk-grid-column-two-thirds">
      


            <a href="scotland.html" class="govuk-back-link">Back</a>

        <div class="govuk-form-group">
            
          <form class="casa-journey-form" action="#" method="post" novalidate="" autocomplete="off">

            <input name="_csrf" type="hidden" value="9iuBi7yE-q1yoeCWpBrHgnDYj6Paht7cPDiA">
          
 
              <div id="f-fepClaimantQualifyingBenefits">
                <div class="govuk-form-group">

 

                  <fieldset class="govuk-fieldset">
                
                 
                
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
           
                    <h1 class="govuk-fieldset__heading">
                
                      Are you getting or waiting to hear about any of these benefits?
                
                    </h1>
             
                  </legend>


                  <div class="govuk-checkboxes" id="f-fepClaimantQualifyingBenefits[]-wrapper">

                      <div class="govuk-checkboxes__item">

                          <input name="fepClaimantQualifyingBenefits[]" class="govuk-checkboxes__input" id="f-fepClaimantQualifyingBenefits[]" type="checkbox" value="childTaxCredit">
                    
                          <label class="govuk-label govuk-checkboxes__label" for="f-fepClaimantQualifyingBenefits[]">
                    
                            Child Tax Credit
                    
                          </label>
                          </div>

                          <div class="govuk-checkboxes__item">

                              <input name="fepClaimantQualifyingBenefits[]" class="govuk-checkboxes__input" id="fepClaimantQualifyingBenefits-2" type="checkbox" value="housingBenefit">
                        
                              <label class="govuk-label govuk-checkboxes__label" for="fepClaimantQualifyingBenefits-2">
                        
                                Housing Benefit
                        
                              </label>
                        
                            </div>

                            <div class="govuk-checkboxes__item">

                                <input name="fepClaimantQualifyingBenefits[]" class="govuk-checkboxes__input" id="fepClaimantQualifyingBenefits-3" type="checkbox" value="incomeJobseekersAllowance">
                          
                                <label class="govuk-label govuk-checkboxes__label" for="fepClaimantQualifyingBenefits-3">
                          
                                  Income-based Jobseeker's Allowance
                          
                                </label>
</div>
                                <div class="govuk-checkboxes__item">

                                    <input name="fepClaimantQualifyingBenefits[]" class="govuk-checkboxes__input" id="fepClaimantQualifyingBenefits-4" type="checkbox" value="incomeEmploymentSupportAllowance">
                              
                                    <label class="govuk-label govuk-checkboxes__label" for="fepClaimantQualifyingBenefits-4">
                              
                                      Income-related Employment and Support Allowance
                              
                                    </label>
                              
                                  </div>           

                                  <div class="govuk-checkboxes__item">

                                      <input name="fepClaimantQualifyingBenefits[]" class="govuk-checkboxes__input" id="fepClaimantQualifyingBenefits-5" type="checkbox" value="incomeSupport">
                                
                                      <label class="govuk-label govuk-checkboxes__label" for="fepClaimantQualifyingBenefits-5">
                                
                                        Income Support
                                
                                      </label>
                                
                                    </div>
                                    <div class="govuk-checkboxes__item">

                                        <input name="fepClaimantQualifyingBenefits[]" class="govuk-checkboxes__input" id="fepClaimantQualifyingBenefits-6" type="checkbox" value="pensionCredit">
                                  
                                        <label class="govuk-label govuk-checkboxes__label" for="fepClaimantQualifyingBenefits-6">
                                  
                                          Pension Credit
                                  
                                        </label>
                                  
                                      </div>
                                      <div class="govuk-checkboxes__item">

                                          <input name="fepClaimantQualifyingBenefits[]" class="govuk-checkboxes__input" id="fepClaimantQualifyingBenefits-7" type="checkbox" value="supportMortgageInterest">
                                    
                                          <label class="govuk-label govuk-checkboxes__label" for="fepClaimantQualifyingBenefits-7">
                                    
                                            Support for Mortgage Interest loan
                                    
                                          </label>
                                    
                                        </div>
                                        <div class="govuk-checkboxes__item">

                                            <input name="fepClaimantQualifyingBenefits[]" class="govuk-checkboxes__input" id="fepClaimantQualifyingBenefits-8" type="checkbox" value="universalCredit">
                                      
                                            <label class="govuk-label govuk-checkboxes__label" for="fepClaimantQualifyingBenefits-8">
                                      
                                              Universal Credit
                                      
                                            </label>
                                      
                                          </div>                                       
                                          <div class="govuk-checkboxes__item">

                                              <input name="fepClaimantQualifyingBenefits[]" class="govuk-checkboxes__input" id="fepClaimantQualifyingBenefits-9" type="checkbox" value="disabilityWorkingTaxCredit">
                                        
                                              <label class="govuk-label govuk-checkboxes__label" for="fepClaimantQualifyingBenefits-9">
                                        
                                                Working Tax Credit including a disability or severe disability element
                                        
                                              </label>
                                        
                                            </div>

                                            <div class="govuk-checkboxes__item">

                                                <input name="fepClaimantQualifyingBenefits[]" class="govuk-checkboxes__input" id="fepClaimantQualifyingBenefits-10" type="checkbox" value="none">
                                          
                                                <label class="govuk-label govuk-checkboxes__label" for="fepClaimantQualifyingBenefits-10">
                                          
                                                  No, I don't get any of these benefits
                                          
                                                </label>
                                          
                                              </div>
                                          
                                             
                                          
                                              
                                          
                                            </div>
                                          
                                            </fieldset>
                                          
                                           
                                          
                                           
                                          
                                          </div>
                                          
                                           
                                          
                                           
                                          
                                              </div>
                                              </form>

                                              

          </div>

          <div class="govuk-form-group">
              <a href="#" role="button" draggable="false" class="govuk-button govuk-button">
                  Continue
              </a>
          </button>
          </div>

          <div>
              <p> <a href="skipfep.html" class="govuk-body govuk-!-font-size-19">Skip FEP - caller does not want to apply</a></p>
            </div>

    </div>
</div>

{% endblock %}
