
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      


            <a href="estate.html" class="govuk-back-link">Back</a>

            <form action="" method="post">

                <input name="_csrf" type="hidden" value="IciZFCsA-BLPuzgxP4qC83KVOrya9Ie0G45E">
            
                <input name="reviewed" type="hidden" value="true">
            
             
            
                <h1 class="govuk-heading-xl">Check your answers</h1>
            
             
            
                <div class="govuk-form-group">
            
                  <!-- Include blocks for all pages in the user's journey -->

              <div class="review-block">
            
                <h2 class="govuk-heading-m">About the person who died</h2>
            
                <dl class="govuk-summary-list">
            
                 
            
                    
            
                      <div class="govuk-summary-list__row">
            
                        <dt class="govuk-summary-list__key">
            
                          Full name
            
                        </dt>
            
                        <dd class="govuk-summary-list__value">
            
                         
            
                            Lionel Martin
            
                         
            
                        </dd>
            
                        <dd class="govuk-summary-list__actions">
            
                         
            
                            
            
                          
            
                          <a class="govuk-link" href="aboutcaller.html">
            
                            Change
            
                            <span class="govuk-visually-hidden"> Full name</span>
            
                          </a>
            
                        </dd>
            
                      </div>
            
                   
            
                  
            
                    
            
                      <div class="govuk-summary-list__row">
            
                        <dt class="govuk-summary-list__key">
            
                          National Insurance number
            
                        </dt>
            
                        <dd class="govuk-summary-list__value">
            
                          
            
                            SG658976C
            
                         
            
                        </dd>
            
                        <dd class="govuk-summary-list__actions">
            
                         
            
                            
            
                          
            
                          <a class="govuk-link" href="aboutcaller.html">
            
                            Change
            
                            <span class="govuk-visually-hidden"> National Insurance number</span>
            
                          </a>
            
                        </dd>
            
                      </div>
            
                   
            
                  
            
                    
            
                      <div class="govuk-summary-list__row">
            
                        <dt class="govuk-summary-list__key">
            
                          Date of birth
            
                        </dt>
            
                        <dd class="govuk-summary-list__value">
            
                         
            
                            16/3/1964
            
                         
            
                        </dd>
            
                        <dd class="govuk-summary-list__actions">
            
                         
            
                            
            
                          
            
                          <a class="govuk-link" href="aboutcaller.html">
            
                            Change
            
                            <span class="govuk-visually-hidden"> Date of birth</span>
            
                          </a>
            
                        </dd>
            
                      </div>
            
                   
            
                  
            
                    
            
                      <div class="govuk-summary-list__row">
            
                        <dt class="govuk-summary-list__key">
            
                          Date of death
            
                        </dt>
            
                        <dd class="govuk-summary-list__value">
            
                         
            
                            29/10/2019
            

            
                        </dd>
            
                        <dd class="govuk-summary-list__actions">
            
                         
            
                            
            
                          
            
                          <a class="govuk-link" href="aboutdeceased.html">
            
                            Change
            
                            <span class="govuk-visually-hidden"> Date of death</span>
            
                          </a>
            
                        </dd>
            
                      </div>
            
                   
            
                  
            
                    
            
                   
            
                  
            
                    
            
                      <div class="govuk-summary-list__row">
            
                        <dt class="govuk-summary-list__key">
            
                          Benefits they were getting
            
                        </dt>
            
                        <dd class="govuk-summary-list__value">
            
                          
            
                              Jobseeker’s Allowance
 
            
                        </dd>
            
                        <dd class="govuk-summary-list__actions">
            
                         
            
                            
            
                          
            
                          <a class="govuk-link" href="aboutdeceased.html">
            
                            Change
            
                            <span class="govuk-visually-hidden"> Benefits they were getting</span>
            
                          </a>
            
                        </dd>
            
                      </div>
            
                   
            
                  
            
                    
            
                      <div class="govuk-summary-list__row">
            
                        <dt class="govuk-summary-list__key">
            
                          Address
            
                        </dt>
            
                        <dd class="govuk-summary-list__value">
            
                         
            
                            
            
                          Aston Villa, Banbury Rd
            
                             
            
                                <br>
            
                             
            
                            
            
                              Gaydon
            
                             
            
                                <br>
            
                                Warwick
            
                             
            
                                <br>
            
                            
            
                              United Kingdom
            
                             
            
                                <br>
            
                             
            
                            
            
                              CV35 0BJ
            
                             
            
                            
            
                          
            
                        </dd>
            
                        <dd class="govuk-summary-list__actions">
            
                         
            
                            
            
                          
            
                          <a class="govuk-link" href="aboutdeceased.html">
            
                            Change
            
                            <span class="govuk-visually-hidden"> Address</span>
            
                          </a>
            
                        </dd>
            
                      </div>
            
                   
            
                  
            
                    
            
                  
            
                    
            
                      <div class="govuk-summary-list__row">
            
                        <dt class="govuk-summary-list__key">
            
                          Died in hospital, hospice or care home
            
                        </dt>
            
                        <dd class="govuk-summary-list__value">
            
                         
            
                            No
            
                         
            
                        </dd>
            
                        <dd class="govuk-summary-list__actions">
            
                          
            
                            
            
                          
            
                          <a class="govuk-link" href="hospital">
            
                            Change
            
                            <span class="govuk-visually-hidden"> Died in hospital, hospice or care home</span>
            
                          </a>
            
                        </dd>
            
                      </div>
            
                   
            
                  
            
                </dl>
            
              </div>
            
             
            
                <div class="review-block">
            
                 
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
            <h2 class="govuk-heading-m">About the person we will pay</h2>
            
            <dl class="govuk-summary-list">
            
             
            
                
            
                  <div class="govuk-summary-list__row">
            
                    <dt class="govuk-summary-list__key">
            
                      Dealing with the money and property
            
                    </dt>
            
                    <dd class="govuk-summary-list__value">
            
                     
            
                        Caller
            
                     
            
                    </dd>
            
                    <dd class="govuk-summary-list__actions">
            
                     
            
                      
            
                        
            
                      
            
                      <a class="govuk-link" href="estate.html">
            
                        Change
            
                        <span class="govuk-visually-hidden"> Dealing with the money and property</span>
            
                      </a>
            
                    </dd>
            
                  </div>
            
               
                  <div class="govuk-summary-list__row">
            
                    <dt class="govuk-summary-list__key">
            
                      Same address as person who died
            
                    </dt>
            
                    <dd class="govuk-summary-list__value">
            
                     
            
                        Yes
            
                     
            
                    </dd>
            
                    <dd class="govuk-summary-list__actions">
            
                     
            
                      
            
                        
            
                      
            
                      <a class="govuk-link" href="estate.html">
            
                        Change
            
                        <span class="govuk-visually-hidden"> Dealing with the money and property</span>
            
                      </a>
            
                    </dd>
            
                  </div>
            
               
              
                  <div class="govuk-summary-list__row">
            
                    <dt class="govuk-summary-list__key">
            
                      Bank details given
            
                    </dt>
            
                    <dd class="govuk-summary-list__value">
            
                     
            
                        Yes
            
                     
            
                    </dd>
            
                    <dd class="govuk-summary-list__actions">
            
                     
            
                      
            
                        
            
                      
            
                      <a class="govuk-link" href="estate.html">
            
                        Change
            
                        <span class="govuk-visually-hidden"> Dealing with the money and property</span>
            
                      </a>
            
                    </dd>
            
                  </div>
            
               
                  <div class="govuk-summary-list__row">
            
                    <dt class="govuk-summary-list__key">
            
                      Bank or building society
            
                    </dt>
            
                    <dd class="govuk-summary-list__value">
            
                     
            
                        Bank account
            
                     
            
                    </dd>
            
                    <dd class="govuk-summary-list__actions">
            
                     
            
                      
            
                        
            
                      
            
                      <a class="govuk-link" href="estate.html">
            
                        Change
            
                        <span class="govuk-visually-hidden"> Dealing with the money and property</span>
            
                      </a>
            
                    </dd>
            
                  </div>
            
               
                  <div class="govuk-summary-list__row">
            
                    <dt class="govuk-summary-list__key">
            
                      Account holder's full name
            
                    </dt>
            
                    <dd class="govuk-summary-list__value">
            
                     
            
                        Maria Bamford
            
                     
            
                    </dd>
            
                    <dd class="govuk-summary-list__actions">
            
                     
            
                      
            
                        
            
                      
            
                      <a class="govuk-link" href="estate.html">
            
                        Change
            
                        <span class="govuk-visually-hidden"> Dealing with the money and property</span>
            
                      </a>
            
                    </dd>
            
                  </div>
            
               
                  <div class="govuk-summary-list__row">
            
                    <dt class="govuk-summary-list__key">
            
                      Bank name
            
                    </dt>
            
                    <dd class="govuk-summary-list__value">
            
                     
            
                        Bank of America
            
                     
            
                    </dd>
            
                    <dd class="govuk-summary-list__actions">
            
                     
            
                      
            
                        
            
                      
            
                      <a class="govuk-link" href="estate.html">
            
                        Change
            
                        <span class="govuk-visually-hidden"> Dealing with the money and property</span>
            
                      </a>
            
                    </dd>
            
                  </div>
            
               
            
                  <div class="govuk-summary-list__row">
            
                    <dt class="govuk-summary-list__key">
            
                      Sort code
            
                    </dt>
            
                    <dd class="govuk-summary-list__value">
            
                     
            
                        16 50 50
            
                     
            
                    </dd>
            
                    <dd class="govuk-summary-list__actions">
            
                     
            
                      
            
                        
            
                      
            
                      <a class="govuk-link" href="estate.html">
            
                        Change
            
                        <span class="govuk-visually-hidden"> Dealing with the money and property</span>
            
                      </a>
            
                    </dd>
            
                  </div>
            
               
            
                  <div class="govuk-summary-list__row">
            
                    <dt class="govuk-summary-list__key">
            
                      Account number
            
                    </dt>
            
                    <dd class="govuk-summary-list__value">
            
                     
            
                        65505050
            
                     
            
                    </dd>
            
                    <dd class="govuk-summary-list__actions">
            
                     
            
                      
            
                        
            
                      
            
                      <a class="govuk-link" href="estate.html">
            
                        Change
            
                        <span class="govuk-visually-hidden"> Dealing with the money and property</span>
            
                      </a>
            
                    </dd>
            
                  </div>
                 
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
             
            
            </dl>
            
             
            
                </div>
            
             
            
              <div class="review-block">
            
               
            
             
            
             
            
             
            
             
            
              <h2 class="govuk-heading-m">About the caller</h2>
            
              <dl class="govuk-summary-list">
            
               
            
                  
            
                    <div class="govuk-summary-list__row">
            
                      <dt class="govuk-summary-list__key">
            
                        Full name
            
                      </dt>
            
                      <dd class="govuk-summary-list__value">
            
                        Maria Bamford
            
                      </dd>
            
                      <dd class="govuk-summary-list__actions">
            
                        <a class="govuk-link" href="aboutcaller.html">
            
                          Change
            
                          <span class="govuk-visually-hidden"> Full name</span>
            
                        </a>
            
                      </dd>
            
                    </div>
            
                 
            
                
            
                  
            
                    <div class="govuk-summary-list__row">
            
                      <dt class="govuk-summary-list__key">
            
                        Phone number
            
                      </dt>
            
                      <dd class="govuk-summary-list__value">
            
                        01789 842424
            
                      </dd>
            
                      <dd class="govuk-summary-list__actions">
            
                        <a class="govuk-link" href="aboutcaller.html">
            
                          Change
            
                          <span class="govuk-visually-hidden"> Phone number</span>
            
                        </a>
            
                      </dd>
            
                    </div>
            
                 
            
                
            
                  
            
                    <div class="govuk-summary-list__row">
            
                      <dt class="govuk-summary-list__key">
            
                        Relationship to the person who died
            
                      </dt>
            
                      <dd class="govuk-summary-list__value">
            
                        Girl friend
            
                      </dd>
            
                      <dd class="govuk-summary-list__actions">
            
                        <a class="govuk-link" href="aboutcaller.html">
            
                          Change
            
                          <span class="govuk-visually-hidden"> Relationship to the person who died</span>
            
                        </a>
            
                      </dd>
            
                    </div>
            
                 
            
                
            
              </dl>
            
             
            
             
            
              </div>
            
             
            
             
            
                 
            
                </div>
            
             
            
                <p class="govuk-body">
            
                 
            
              
            
                
            
              
            
             
            
                    <div class="govuk-form-group">
                        <a href="bspstart.html" role="button" draggable="false" class="govuk-button govuk-button">
                            Continue
                        </a>
                    </button>
                    </div>
             
            
                </p>
            
              </form>      






    </div>
</div>

{% endblock %}
