
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div style="width:60%; float: left;">
      <h1 class="govuk-heading-m">
        Lionel Martin
        <span style="font-weight: 200; padding-left: 1%; font-size: 19px; color: grey">SG 65 89 76 C</span>
         <BR>     
        <span style="font-weight: 200; padding-top: 2%; font-size: 19px; float: left; color: black">
            Caller: Maria Bamford <span style="color: black">- 01789 842 424</span> 
        </span>
      </h1>
    </div>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p></p><hr class="govuk-section-break govuk-section-break--visible"><p></p>
        </div>
       </div>
   
    <div class="govuk-grid-column-two-thirds">
      


            <a href="aboutdeceased.html" class="govuk-back-link">Back</a>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    Did they die in a hospital, hospice or care home?
                </h1>
              </legend>
              
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                      Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Name of hospital, hospice or care home (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
                  </div>
          
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    No
                  </label>
                </div>
                
                
              </div>


              

              
            </fieldset>
          </div>

          <div class="govuk-form-group">
              <a href="estate.html" role="button" draggable="false" class="govuk-button govuk-button">
                  Continue
              </a>
          </button>
          </div>


    </div>
</div>

{% endblock %}
