
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

            <a href="callerbenefits.html" class="govuk-back-link">Back</a>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        You are about to skip Funeral Expenses Payment                    </h1>
                  </legend>
            
<p> Any information you have entered in this section will be deleted. It will not be saved anywhere.</p>
                  

                    <a href="declaration.html" role="button" draggable="false" class="govuk-button govuk-button--warning">
                        Skip FEP
                    </a> 


                    <div>
                        <a href="callerbenefits.html" class="govuk-link"> Cancel</a>
                          </div> 

                </fieldset>
            </div>
              
               
           


    </div>
</div>

{% endblock %}
