
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

            <a href="fepstart.html" class="govuk-back-link">Back</a>

            <article>

                <h1 class="govuk-heading-l">What we’ll do now
                  </h1>
            
             
            
            
                  <p>We’ve got the information we need now, and we’ll use this to update our records.
                  </p>

                
                
                <footer>
                      <div class="govuk-form-group">
                          <a href="infosent.html" role="button" draggable="false" class="govuk-button govuk-button">
                              Send information
                          </a>
                      </button>
                  </div>

                </footer>
            
               
            
             
            
             
            
            </form>
            
             
            
             
            
              </article>


    </div>
</div>

{% endblock %}
