
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

            <a href="fepstart.html" class="govuk-back-link">Back</a>

            <article>

                <h1 class="govuk-heading-m">Summary</h1>
            
             
            
            
                <p class="govuk-body">We will now:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Update benefits record</li>

                </ul>
                
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                <h1 class="govuk-heading-l">No declaration - required</h1>

                
                <footer>
                      <div class="govuk-form-group">
                          <a href="infosent.html" role="button" draggable="false" class="govuk-button govuk-button">
                              Agree and send
                          </a>
                      </button>
                  </div>

                </footer>
            
               
            
             
            
             
            
            </form>
            
             
            
             
            
              </article>


    </div>
</div>

{% endblock %}
