
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

            <a href="location.html" class="govuk-back-link">Back</a>

            <article>

                <h1 class="govuk-heading-l">Funeral Expenses Payment</h1>
            
             
            
               
            
             
            
            <strong class="app-c-tag app-c-tag--eligible">
            
              Potentially eligible
            
            </strong>
            
             <Br>
              <Br>
            
             
            
            <p>The caller may be eligible, but at the moment we only take details if they were in a relationship with the deceased.</p>

            <p>Use an electronic form (SF200) if the caller wants to apply.</p>

               <h2 class="govuk-heading-s">If the caller lives in Scotland</h2>

  <p>They need to apply for Funeral Support Payment (FSP) to get help with funeral costs.</p>

  <p>You should transfer them at the end of the call, or if they prefer, they can apply online at <strong>www.mygov.scot</strong> or call <strong>0800 182 2222</strong>.</p>
            
                  <footer>
            
 
                      <div class="govuk-form-group">
                          <a href="declaration.html" role="button" draggable="false" class="govuk-button govuk-button">
                              Continue
                          </a>
                      </button>

                 <div>
          
                    <p> <a href="#" class="govuk-body govuk-!-font-size-19">Skip Funeral Expenses Payment</a></p>

                    </div>




                  </div>

                 
          
                </footer>
            
               
            
             
            
             
            
            </form>
            
             
            
             
            
              </article>


    </div>
</div>

{% endblock %}
